@page 
@using CS3750BankApp.DataAccess
@using CS3750BankApp.Models
@model CS3750BankApp.Pages.AccountDetailsModel
@{
    List<Transactions> trans;
    if (Model.accType.Equals("ALL")) {
        trans = DbRepository.GetAllTransactions(Model.accNum);
    }
    else
    {
        trans = DbRepository.GetTransactions(Model.accNum, Model.accType);
    }
    
    ViewData["Title"] = "Account Details";
}

<style>
    table {
        width: 85%;
    }

    .table-header {
        background-color: #0a04c4;
        font-size: 14px;
        color: #ffffff;
        text-transform: uppercase;
        letter-spacing: 0.03em;
    }
    .table-row {
        background-color: #ffffff;
        box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.1);
    }

    
    table, th, td {
        padding:10px;
    }
    

</style>

<h2>Account Details for @Model.accType</h2>

<br />

<div>
    <table>
        <tr class="table-header">
            <th>Date</th>
            <th>Sender</th>
            <th>Reciever</th>
            <th>Description</th>
            <th>Amount</th>
            <th>Transaction Type</th>
        </tr>
      
@*
        here I just loop through 10 times to show an example of how I would loop through all the data
        I don't know how to get the data yet, so I'm just putting this here until we figure it out.*@
        @for (int i = 0; i < trans.Count(); i++)
        {
            <tr class="table-row">
                <th>@trans[i].Date</th>
                <th>@trans[i].Sender</th>
                <th>@trans[i].Reciever</th>
                <th>@trans[i].Description</th>
                @{int test = 11 * i;}
                <th>$ @trans[i].Amount.00</th>
                <th>@trans[i].TransactionType</th>
            </tr>
        }
        
    </table>
    <br />
    <form>
        <input type="button" value="Back" onclick="history.back()">
    </form>

</div>