@page
@using CS3750BankApp.DataAccess
@using CS3750BankApp.Models
@model CS3750BankApp.Pages.AccountsModel
@{
   
}


@*Font Awesome*@
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.0.0/css/all.css" />
<link rel="stylesheet" href="css/site.css" />

<h2>Accounts For Account Number: @Model.accountNum</h2>
<div class="container-fluid accountSection">
    <div class="row">
        <div class="col-3 fw-bold">
            <label>Account Number</label>
        </div>
        <div class="col-5 fw-bold">
            <label>Type</label>
        </div>
        <div class="col-4 fw-bold">
            <label>Balance</label>
        </div>
    </div>

    @{
        foreach (Account account in Model.Accounts)
        {
            <div class="row accountDisplay">
                <div class="col-3">
                    <label>@account.AccountNumber</label>
                </div>
                <div class="col-5">
                    <a asp-page="AccountDetails" asp-route-Type="@account.Type" asp-route-AccNum="@account.AccountNumber">@account.Type</a>
                    <label>@account.Type</label>
                </div>
                <div class="col-4">
                    <label class="@(account.Balance > 0 ? "text-success" : "text-danger")">@account.Balance</label>
                </div>
            </div>
        }
    }

</div>
<div class="buttonGroup">
    <a class="btn btn-primary w-25 float-start my-auto" asp-page="./Transfer"><i class="fa-solid fa-money-bill-transfer"></i>Transfer</a>
    <a class="btn btn-success w-50 my-auto" asp-page="./Deposit"><i class="fa-solid fa-money-simple-from-bracket"></i>Deposit</a>
    <a class="btn btn-danger w-25 float-end my-auto" asp-page="./Withdraw"><i class="fa-solid fa-money-from-bracket"></i>Withdraw</a>
</div>