@page
@using CS3750BankApp.DataAccess
@using CS3750BankApp.Models
@model CS3750BankApp.Pages.TransactionsModel
@{
    List<Transactions> transactions = DbRepository.GetTransactions();
}

@*Font Awesome*@
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.0.0/css/all.css" />
<link rel="stylesheet" href="css/site.css" />

<h2>Transactions</h2>

<div class="container-fluid transactionSection">
    <div class="row">
        <div class="col fw-bold">
            <label>ID</label>
        </div>
        <div class="col fw-bold">
            <label>Description</label>
        </div>
        <div class="col fw-bold">
            <label>Amount</label>
        </div>
        <div class="col fw-bold">
            <label>Sender</label>
        </div>
        <div class="col fw-bold">
            <label>Receiver</label>
        </div>
        <div class="col fw-bold">
            <label>Transaction Type</label>
        </div>
    </div>

    @{
        foreach (Transactions transaction in transactions)
        {
            <div class="row transactionsDisplay">
                <div class="col">
                    <label>@transaction.ID</label>
                </div>
                <div class="col">
                    <label>@transaction.Description</label>
                </div>
                <div class="col">
                    <label>@transaction.Amount</label>
                </div>
                <div class="col">
                    <label>@transaction.Sender</label>
                </div>
                <div class="col">
                    <label>@transaction.Reciever</label>
                </div>
                <div class="col">
                    <label>@transaction.TransactionType</label>
                </div>
            </div>
        }
    }
</div>